unsplash/images/_es6l-aPDA0.jpg
unsplash/
imgur/
.ipynb_checkpoints/
__pycache__/
Untitled.ipynb
models/bgr_quality.pickle
models/quality_model.pickle
lib/static/images/downloads/
lookslikefilm/
flickr/
models/lookslikefilm_convolution.pickle
models/unsplash_model.pickle
models/lookslikefilm_grayscale.pickle
models/unsplash_grayscale.pickle
instagram_downloads/
joeypilgrim/
models/unsplash_convolution.pickle
instagram-scraper.log
snapshots/chart5.png
snapshots/chart6.png
snapshots/chart4.png
snapshots/chart3.png
snapshots/chart2.png
snapshots/chart1.png
snapshots/inter-year 5.png
