<nav class="navbar navbar-expand-md navbar-dark bg-dark bg-ehtc fixed-top">

  <!-- <nav class="navbar navbar-default navbar-fixed-top bg-ehtc navbar-fixed-top"> -->

<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/home" onclick="stopRefresh()"> <img src="/static/images/logo-nav.png"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">How It Works</a>
            </li>
        </ul>
    </div>

</nav>


 <!-- This is where alerts end up -->
<div class="alert alert-success top-fixed-alert text-center" role="alert" id='alert' style="display:none;">
     <p class="mb-0"></p>
    </div>
